

<div class="register h-screen grid items-center justify-items-center">
    <form class="grid grid-cols-2 gap-y-9 gap-x-5 text-2xl w-1/2 lg:w-3/4 sm:w-full" [formGroup]="userForm" (ngSubmit)="updateUser(userForm.value)">
        <span class="text-5xl mb-5 col-span-full text-gray-700  font-light justify-self-center" >Profile</span>

        <div class="rounded-lg col-span-full text-red-500 p-3" *ngIf="formErr">{{formErr}}</div>
        <div class="rounded-lg col-span-full bg-green-400 text-white p-3 text-center" *ngIf="(isUpdated$ | async)">Updated</div>

        <ng-container class="" formGroupName="name">
            <input formControlName="firstName" class="py-4 px-6  outline-0 text-gray-700 rounded-lg border border-gray-300 focus:border-gray-500 transition placeholder:text-gray-400 bg-transparent" type="text" placeholder="first name">
            <input formControlName="lastName"  class="py-4 px-6  outline-0 text-gray-700 rounded-lg border border-gray-300 focus:border-gray-500 transition placeholder:text-gray-400 bg-transparent" type="text" placeholder="last name">
        </ng-container>
        <input formControlName="country"   class="py-4 px-6 col-span-full outline-0 text-gray-700 rounded-lg border border-gray-300 focus:border-gray-500 transition placeholder:text-gray-400 bg-transparent" type="text" placeholder="your country">
        <input formControlName="email"     class="py-4 px-6 col-span-full outline-0 text-gray-700 rounded-lg border border-gray-300 focus:border-gray-500 transition placeholder:text-gray-400 bg-transparent" type="email" placeholder="enter email">
        <button *ngIf="!(uiService.isLoading$ | async)" class="rounded-lg col-span-full py-4 px-6 w-2/3 bg-gray-800 hover:bg-gray-900 text-white justify-self-center" type="submit " >update</button>
        <spinner *ngIf="(uiService.isLoading$ | async)" [theme]="'dark'"  class="col-span-full justify-self-center pt-7"></spinner>

    </form>
</div>